.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1{
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-item {
  /* width: max-content; */
  text-align: center;
  padding: 10px;
}

#create-desc {
  width: 300;
}

.submit-btn {
  padding-top: 20px;
}

.footer {
  background-color: powderblue;
}

.footer-text {
  color: white;
  text-align: center;
  padding: 20px;
}

.navbar-container {
  height: 100vh;
  width: 10%;
  margin: 20px 30px;
  background-color: powderblue;
  border-radius: 10px;
}